extends ./layout/layout.jade

block content
  section.content
    h3
      | Loading Spinners
      br
      small These are just FontAwesome icons with "fa-spinner" style class appended.
    // START row
    .row
      .col-md-3
        // START panel
        .panel.panel-default
          .panel-heading Standard
          .panel-body.text-center
            i.fa.fa-spinner.fa-spin
        // END panel
      .col-md-3
        // START panel
        .panel.panel-default
          .panel-heading Notch
          .panel-body.text-center
            i.fa.fa-circle-o-notch.fa-spin
        // END panel
      .col-md-3
        // START panel
        .panel.panel-default
          .panel-heading Refresh
          .panel-body.text-center
            i.fa.fa-refresh.fa-spin
        // END panel
      .col-md-3
        // START panel
        .panel.panel-default
          .panel-heading Gear
          .panel-body.text-center
            i.fa.fa-cog.fa-spin
        // END panel
      .col-md-3
        // START panel
        .panel.panel-default
          .panel-heading Futbol
          .panel-body.text-center
            i.fa.fa-futbol-o.fa-spin
        // END panel
      .col-md-3
        // START panel
        .panel.panel-default
          .panel-heading Leaf
          .panel-body.text-center
            i.fa.fa-leaf.fa-spin
        // END panel
      .col-md-3
        // START panel
        .panel.panel-default
          .panel-heading Bar
          .panel-body.text-center
            i.fa.fa-minus.fa-spin
        // END panel
      .col-md-3
        // START panel
        .panel.panel-default
          .panel-heading Cross
          .panel-body.text-center
            i.fa.fa-times.fa-spin
        // END panel
      .col-md-3
        // START panel
        .panel.panel-default
          .panel-heading Bomb
          .panel-body.text-center
            i.fa.fa-bomb.fa-spin
        // END panel
      .col-md-3
        // START panel
        .panel.panel-default
          .panel-heading Buoy
          .panel-body.text-center
            i.fa.fa-life-buoy.fa-spin
        // END panel
    // END row
  
  
block scripts
  // External Script goes here...
