// -----------------------------------------------------------------------------
// Theme Color Palette
// -----------------------------------------------------------------------------
$base                   : #50514E; //#50514E //-GREEN-#91DC5A
$comb_1                 : #F25F5C;
$comb_2                 : #FFE066;
$comb_3                 : #247BA0;
$comb_4                 : #70C1B3;

// -----------------------------------------------------------------------------
// Buttons
// -----------------------------------------------------------------------------
$glob-primary            : $base;
$glob-inverse            : lighten($base, 10%);
$glob-success            : $comb_4;
$glob-info               : $comb_3;
$glob-warning            : $comb_2;
$glob-danger             : $comb_1;

// -----------------------------------------------------------------------------
// Checkbox/Switch
// -----------------------------------------------------------------------------
$chk-base               : #91DC5A;
$chk-color-base         : $chk-base;
$chk-color-gray-base    : grayscale($chk-base);
$chk-color-darken       : darken($chk-base, 5%);
$chk-color-bg           : lighten($chk-base, 100%);

// -----------------------------------------------------------------------------
// Burger Bar
// -----------------------------------------------------------------------------
$bar-color              : lighten($base, 100%);
